:root {
    --darkest: rgb(15, 112, 15);
    --primary: #6c956c;
    --secondary: #b9cca8;
    --lighter-secondary: #dff0d0;
    --third: #ffb5ac;
    --fourth: #ffe4e1;
    --white: ivory;
    --main-font: 'Redressed', cursive;
    --secondary-font: 'El Messiri', sans-serif;
    --letra-chica: 'Didact Gothic', sans-serif;
    --font-ajustada: 'Roboto Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}


/* --------------nav menu hamburguesa----------------- */

.navbar {
    width: 100%;
    height: 9vh;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#navbar__checkbox,
.navbar__label,
.fa-times {
    display: none;
}

.menu-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu--ul {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav__menu--li {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
}

.menu-link {
    text-decoration: none;
    color: var(--white);
    text-shadow: 3px 0px 2px rgba(0, 0, 0, 0.43);
    font-family: var(--secondary-font);
}

.menu-link:hover {
    cursor: pointer;
    color: rgb(1, 53, 1);
    text-shadow: 3px 0px 2px rgba(255, 255, 255, 0.43);
}

.login-menu {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sign-in,
.sign-up {
    border: 1px solid var(--white);
    padding: 0.3rem;
    border-radius: 10px;
}

.sign-in {
    background-color: #96c071;
}

.sign-in:hover {
    background-color: darkseagreen;
}

.sign-up {
    background-color: var(--darkest);
}

.sign-up:hover {
    background-color: var(--lighter-secondary);
}


/* --------------------------------------------------------------------  */

.main {
    width: 100%;
}

.hero-section {
    width: 100%;
    height: 60vh;
    color: var(--primary);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    box-shadow: -1px 5px 82px 19px rgba(224, 191, 117, 0.36) inset;
    -webkit-box-shadow: -1px 5px 82px 19px rgba(224, 191, 117, 0.36) inset;
    -moz-box-shadow: -1px 5px 82px 19px rgba(224, 191, 117, 0.36) inset;
}

.custom-shape-divider-top-1629176088 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1629176088 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 69px;
}

.custom-shape-divider-top-1629176088 .shape-fill {
    fill: var(--primary);
}

.custom-shape-divider-bottom-1629175868 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629175868 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 69px;
}

.custom-shape-divider-bottom-1629175868 .shape-fill {
    fill: var(--primary);
}

.borde-top {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: fade-in-tl 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-tl 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.borde-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-animation: fade-in-br 3s ease-in-out both;
    animation: fade-in-br 3s ease-in-out both;
}

.hero-section__text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 3rem;
    z-index: 1;
}

.hero-section__h1 {
    font-family: var(--secondary-font);
    font-size: 5rem;
}

.hero-section__h2 {
    font-family: var(--font-ajustada);
    text-transform: uppercase;
    font-weight: 500;
}


/**
 * ----------------------------------------
 * animation fade-in-tl
 * ----------------------------------------
 */

@-webkit-keyframes fade-in-tl {
    0% {
        -webkit-transform: translateX(-50px) translateY(-50px);
        transform: translateX(-50px) translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-tl {
    0% {
        -webkit-transform: translateX(-50px) translateY(-50px);
        transform: translateX(-50px) translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}


/**
 * ----------------------------------------
 * animation fade-in-br
 * ----------------------------------------
 */

@-webkit-keyframes fade-in-br {
    0% {
        -webkit-transform: translateX(50px) translateY(50px);
        transform: translateX(50px) translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-br {
    0% {
        -webkit-transform: translateX(50px) translateY(50px);
        transform: translateX(50px) translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}


/* -------section about --------------------------------------- */

.about {
    width: 100%;
    height: auto;
    padding: 4rem 0 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--lighter-secondary);
    box-shadow: -1px 100px 110px -46px var(--secondary) inset;
    -webkit-box-shadow: -1px 100px 110px -46px var(--secondary) inset;
    -moz-box-shadow: -1px 100px 110px -46px var(--secondary) inset;
}

.ola-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.about__text {
    width: 30%;
    height: auto;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--letra-chica);
    color: var(--darkest);
}

.about__text--h2 {
    font-family: var(--secondary-font);
    font-size: 2rem;
}

.about__text--p {
    color: var(--primary);
    font-weight: 500;
    line-height: 1.3rem;
}

.about__img {
    width: 30%;
    height: auto;
}

.about__img img {
    border-radius: 60px 0px 60px 0px;
}


/* ******** plantas**************************************************** */

.plants-section {
    color: var(--darkest);
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--lighter-secondary);
}

.plants-section__h2 {
    margin: 4% 0 1% 0;
    font-family: var(--secondary-font);
    font-size: 2rem;
}

.card-container__plants {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.card__plant {
    width: 20%;
    height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: transparent;
    border-radius: 15px;
    background-color: rgb(245, 236, 222);
    padding: 1.5%;
    box-shadow: -1px 5px 46px -16px var(--primary);
    -webkit-box-shadow: -1px 5px 46px -16px var(--primary);
    -moz-box-shadow: -1px 5px 46px -16px var(--primary);
}

.card__plant--foto {
    width: 100%;
    overflow: hidden;
    /*?????*/
}

.card__plant--description {
    font-family: var(--letra-chica);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card-description__h3 {
    font-family: var(--secondary-font);
    font-size: 1.4rem;
}

.card-description__cuidados {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5rem;
    padding: 1rem 0;
}

.cuidado {
    width: 100%;
    height: auto;
    border: 1.5px solid var(--secondary);
    border-radius: 15px;
    padding: 0.5rem 0;
}

.fas,
.far {
    color: var(--primary);
    font-size: 1.6rem;
}

.button-more {
    padding: 0.5rem;
    font-family: var(--letra-chica);
    font-weight: 600;
    font-size: 1rem;
    border: 0px;
    outline: none;
    background-color: transparent;
    color: rgb(219, 105, 60);
    text-decoration: underline;
    cursor: pointer;
}


/* ****** contacto **************************************** */

.contact-container {
    background-color: var(--lighter-secondary);
    background-image: url(img/5600711.png);
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    position: relative;
}

.contact {
    width: 80%;
    padding-top: 1.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.12);
}

.contact--h2 {
    font-family: var(--secondary-font);
    color: var(--darkest);
    text-shadow: 4px -2px 6px rgba(255, 255, 255, 1);
    font-size: 2rem;
    width: 80%;
    text-align: center;
}

.contact-body-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__img {
    width: 30%;
}

.contact-aside-img {
    width: 80%;
    overflow: hidden;
    border-radius: 15px;
}

.contact__form {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
    color: var(--primary);
}

.contact--form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
}

.form__label {
    font-family: var(--letra-chica);
    font-size: 1.2rem;
}

.form__input,
.form__textarea {
    font-family: var(--letra-chica);
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    background: rgb(255, 228, 225);
    background: linear-gradient(0deg, rgba(255, 228, 225, 1) 0%, rgba(255, 181, 172, 1) 100%);
    outline: none;
    opacity: 0.5;
    border: 0;
    border-radius: 15px;
    transition: opacity 0.2s;
}

.form__input:focus,
.form__textarea:focus {
    opacity: 1;
}

.contact-button-submit {
    padding: 0.2rem 0;
    margin: 1rem 0 2rem 0;
    padding: 1rem 0;
    width: 30%;
    align-self: center;
    background-color: var(--third);
    outline: none;
    border: none;
    border-radius: 15px;
    font-family: var(--letra-chica);
    font-size: 1.2rem;
    cursor: pointer;
    transition-property: box-shadow;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
}

.contact-button-submit:hover {
    box-shadow: 10px 10px 13px -5px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 10px 10px 13px -5px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 10px 10px 13px -5px rgba(0, 0, 0, 0.20);
}

.contact-redes {
    width: 40%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__redes--h2 {
    font-family: var(--secondary-font);
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: var(--darkest);
}

.redes {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icono-red-social {
    width: 3rem;
    height: 3rem;
    border: 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-property: box-shadow;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
}

.icono-red-social:hover {
    box-shadow: 10px 10px 13px -5px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 10px 10px 13px -5px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 10px 10px 13px -5px rgba(0, 0, 0, 0.20);
}

.facebook {
    background-color: dodgerblue;
}

.instagram {
    background-color: salmon;
}

.whatsapp {
    background-color: lightseagreen;
}

.fab {
    color: white;
    font-size: 1.5rem;
}


/* ******FOOTER************************************************ */

.footer {
    background-color: var(--primary);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 100%;
}

.footer-firma-p {
    width: 100%;
    text-align: center;
    font-family: var(--letra-chica);
    color: var(--fourth);
}


/* **************************************************************** */


/* ----------------RESPONSIVE------------------- */


/* ******************************************************************** */

@media (min-width:901px) and (max-width:1200px) {
    /* section about */
    .about__text {
        width: 50%;
    }
    /* plants section */
    .card__plant {
        width: 30%;
    }
}

@media (min-width:0px) and (max-width:900px) {
    /* navbar */
    .menu-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 9vh;
        left: 0;
        transform: translateX(-200%);
        background-color: var(--primary);
        transition-property: transform;
        transition-duration: 2s;
        transition-timing-function: ease-in-out;
        z-index: 3;
    }
    .sign-up,
    .sign-in {
        border: 0;
        background-color: transparent;
    }
    .sign-in:hover,
    .sign-up:hover {
        background-color: transparent;
    }
    .nav__menu--ul,
    .login-menu {
        width: 100%;
        flex-direction: column;
    }
    .nav__menu--ul li:last-child {
        border-bottom: 3px solid var(--third);
    }
    .nav__menu--li {
        width: 100%;
        border-bottom: 1px solid var(--lighter-secondary);
        text-align: center;
        padding: 0.35rem 0;
    }
    .nav__menu--li:hover {
        background-color: var(--secondary);
        filter: brightness(120%);
    }
    .navbar__label {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .fa-bars {
        font-size: 1.5rem;
        color: var(--lighter-secondary);
        position: absolute;
        top: 0;
        left: 2rem;
        z-index: 1;
    }
    .fa-times {
        display: none;
        position: absolute;
        top: 0;
        left: 2rem;
    }
    #navbar__checkbox:checked~.menu-container {
        width: 75%;
        transform: translateX(0);
    }
    #navbar__checkbox:checked~.navbar__label>.fa-bars {
        display: none;
    }
    #navbar__checkbox:checked~.navbar__label>.fa-times {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: var(--lighter-secondary);
    }
    /* section about */
    .about {
        padding: 3rem 1rem;
        flex-wrap: wrap;
    }
    .about__text {
        width: 60%;
        padding: 2% 2% 2% 0;
    }
    .about__text--h2 {
        font-size: 1.8rem;
    }
    .about__text--p {
        font-size: 1rem;
    }
    .about__img {
        width: 20%;
    }
    .about__img img {
        max-height: 200px;
    }
    /* plants section */
    .card__plant {
        width: 40%;
    }
    /* contact section */
    .contact-container {
        padding: 2rem 0;
    }
    .contact__form {
        width: 60%;
    }
    .contact__form--h2 {
        font-size: 1.8rem;
    }
    .contact-button-submit {
        width: 40%;
    }
    .contact-redes {
        width: 60%;
    }
    .contact__redes--h2 {
        font-size: 1.8rem;
    }
}

@media (min-width:551px) and (max-width:650px) {
    /* section about */
    .about__text--p {
        font-size: 0.9rem;
    }
    .about__img {
        width: 15%;
    }
    .about__img img {
        max-height: 150px;
        overflow: hidden;
    }
    /* plants section */
    .card__plant {
        width: 40%;
    }
    /* contact section */
    .contact__img {
        display: none;
    }
    .contact__form {
        width: 90%;
        padding: 2rem 0;
    }
    .contact--form {
        width: 100%;
    }
}

@media (min-width:381px) and (max-width:550px) {
    /* hero section */
    .hero-section {
        height: 40vh;
    }
    .hero-section__h1 {
        font-size: 3rem;
    }
    .hero-section__h2 {
        font-size: 1.2rem;
    }
    /* about section */
    .about__text {
        width: 80%;
    }
    .about__img {
        display: none;
    }
    /* plants section */
    .card__plant {
        width: 70%;
    }
    .card__plant--foto img {
        width: 100%;
        padding: 1rem 1rem 0 1rem;
    }
    .card__plant--description {
        padding: 1rem;
        font-size: 0.95rem;
    }
    .card-description__cuidados {
        padding: 0.5rem;
    }
    .fas,
    .far {
        font-size: 1.2rem;
    }
    /* contact section */
    .contact__img {
        display: none;
    }
    .contact__form {
        width: 90%;
        padding: 2rem 0;
    }
    .contact--form {
        width: 100%;
    }
}

@media (max-width:380px) {
    /* hero section */
    .hero-section {
        height: 40vh;
    }
    .hero-section__h1 {
        font-size: 3rem;
    }
    .hero-section__h2 {
        font-size: 1.2rem;
    }
    /* about section */
    .about__text {
        width: 85%;
    }
    .about__img {
        display: none;
    }
    /* plants section */
    .card__plant {
        width: 80%;
    }
    .card__plant--description {
        font-size: 0.95rem;
    }
    .card__plant--foto img {
        width: 100%;
        padding: 1rem;
    }
    .card-description__p {
        padding: 0 1rem;
    }
    .fas,
    .far {
        font-size: 1rem;
        padding: 0 1rem;
    }
    .card-description__cuidados {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.1rem;
    }
    .cuidado {
        width: 75%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .cuidado__p {
        padding-left: 1rem;
    }
    /* contact section */
    .contact__img {
        display: none;
    }
    .contact__form {
        width: 90%;
        padding: 2rem 0;
    }
    .contact--form {
        width: 100%;
    }
}