:root {
    --darkest: rgb(15, 112, 15);
    --primary: #6c956c;
    --secondary: #b9cca8;
    --lighter-secondary: #dff0d0;
    --third: #ffb5ac;
    --fourth: #ffe4e1;
    --white: ivory;
    --main-font: 'Redressed', cursive;
    --secondary-font: 'El Messiri', sans-serif;
    --letra-chica: 'Didact Gothic', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: var(--lighter-secondary);
    background-image: url(img/5447182.jpg);
    background-size: cover;
}

.body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 2rem 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.12);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login {
    width: 70%;
    height: auto;
    padding: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__h1 {
    font-family: var(--secondary-font);
    font-size: 2.5rem;
    color: var(--primary);
}

.form__label {
    font-family: var(--letra-chica);
    font-size: 1.2rem;
    padding-top: 1.5rem;
}

.form__input {
    width: 70%;
    height: 1.7rem;
    background-color: transparent;
    outline: none;
    border: 0;
    border-bottom: 2px solid var(--primary);
    transition: border-color 0.2s;
    margin-bottom: 1.5rem;
}

.form__input:focus {
    border-color: rgb(99, 0, 138);
}

.form__button {
    width: 50%;
    outline: none;
    border: 0;
    padding: 0.5rem;
    border-radius: 15px;
    background-color: #ffccc6;
    font-family: var(--letra-chica);
    text-align: center;
    font-size: 1.2rem;
}

.form__button:hover {
    background-color: var(--third);
}

.sidebar {
    width: 29%;
    padding: 0 1rem;
}

.sidebar-text {
    width: 100%;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar__p {
    width: 100%;
    font-family: var(--letra-chica);
    font-size: 1.3rem;
    text-align: center;
}

.register-button {
    width: 100%;
    text-align: center;
    font-family: var(--letra-chica);
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: underline;
}

.sidebar__img-container {
    width: 100%;
}

.sidebar--img {
    width: 100%;
    overflow: hidden;
    border-radius: 30px 0 30px 0;
}